@charset "utf-8";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "苹方", "Droid Sans Fallback", "Heiti SC ", "微软雅黑", sans-serif;
  -webkit-tap-highlight-color: transparent;
}

input[type='submit'],
input[type='button'],
input[type='password'],
input[type='search'],
input[type='text'],
button {
  -webkit-appearance: none;
  appearance: none;
}

input,
textarea {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  tap-highlight-color: rgba(0, 0, 0, 0);
}

ul,
li,
ol {
  list-style: none;
}

h4 {
  font-weight: normal;
}

body {
  width: 100%;
  margin: 0 auto;
  color: #262626;
  font-size: 14px;
  line-height: 1.42857143;
  user-select: none;
}

body > .container {
  background-color: inherit;
}

body > div:first-child {
  position: relative;
  min-height: 100%;
  padding-bottom: constant(safe-area-inset-bottom);
  padding-bottom: env(safe-area-inset-bottom);
}

html,
body {
  position: relative;
  height: 100%;
  background-color: #fff !important;
}

html {
  font-size: 10px;
}

img {
  vertical-align: middle;
}

// 字体样式
.font-normal {
  font-style: normal;
}

// 段落缩进
.over-hidden {
  overflow: hidden;
}

.over-auto {
  overflow: auto;
}

.hand {
  cursor: pointer;
}

.hr,
hr {
  display: block;
  border-top: solid 1px #e4e4e4;
}

label {
  display: inline-block;
  max-width: 100%;
}

.clearfix {
  &::before {
    display: table;
    content: "";
  }

  &::after {
    display: table;
    clear: both;
    content: "";
  }
}

.pull-left {
  float: left !important;
}

.pull-right {
  float: right !important;
}

.d-in-block {
  display: inline-block;
}

.d-block {
  display: block !important;
}

.d-none {
  display: none;
}

.d-flex {
  display: flex;
}

.dis-tabcell {
  display: table-cell;
}

.v-hidden {
  visibility: hidden;
}

.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

//文字换行
.nowrap {
  white-space: nowrap;
  word-wrap: normal;
  word-break: normal;
}

.nowrap.lh-standard {
  overflow-y: visible;
}

.break {
  white-space: normal;
  word-wrap: break-word;
  word-break: break-all;
}

.ellipsis {
  @include nowrap();

  overflow: hidden;
  text-overflow: ellipsis;
}

.ellipsis-2 {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  word-break: break-all;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.ellipsis-3 {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  word-break: break-all;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.ellipsis-4 {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}

//文字粗细
.font-bold {
  font-weight: bold;
}

.font-w-600 {
  font-weight: 600;
}

.pr {
  position: relative;
}

.pa {
  position: absolute;
}

// vertical-align
.v-mid { vertical-align: middle; }
.v-top { vertical-align: top; }
.v-bottom { vertical-align: bottom; }

//文字排版
.text-center { text-align: center; }
.text-right { text-align: right; }
.text-left { text-align: left; }

//相对字体大小
.font-size-0 { font-size: 0; }
.font-size-9 { font-size: 9px !important; }
.font-size-10 { font-size: 10px !important; }
.font-size-11 { font-size: 11px !important; }
.font-size-12 { font-size: 12px !important; }
.font-size-13 { font-size: 13px !important; }
.font-size-14 { font-size: 14px !important; }
.font-size-15 { font-size: 15px !important; }
.font-size-16 { font-size: 16px !important; }
.font-size-17 { font-size: 17px !important; }
.font-size-18 { font-size: 18px !important; }
.font-size-20 { font-size: 20px !important; }
.font-size-21 { font-size: 21px !important; }
.font-size-22 { font-size: 22px !important; }
.font-size-23 { font-size: 23px !important; }
.font-size-24 { font-size: 24px !important; }
.font-size-25 { font-size: 25px !important; }
.font-size-26 { font-size: 26px !important; }
.font-size-28 { font-size: 28px !important; }
.font-size-30 { font-size: 30px !important; }
.font-size-32 { font-size: 32px !important; }
.font-size-36 { font-size: 36px !important; }
.font-size-40 { font-size: 40px !important; }
.font-size-42 { font-size: 42px !important; }
.font-size-50 { font-size: 50px !important; }
.font-size-60 { font-size: 60px !important; }
.font-size-64 { font-size: 64px !important; }
.font-size-72 { font-size: 72px !important; }
.font-size-76 { font-size: 76px !important; }
.font-size-80 { font-size: 80px !important; }

.text-standard-size-12 {
  font-size: 12px;
  line-height: 18px;
}

.text-standard-size-13 {
  font-size: 13px;
  line-height: 18px;
}

.text-standard-size-14 {
  font-size: 14px;
  line-height: 20px;
}

.text-standard-size-16 {
  font-size: 16px;
  line-height: 22px;
}

.text-standard-size-18 {
  font-size: 18px;
  line-height: 24px;
}

.text-standard-size-24 {
  font-size: 24px;
  line-height: 30px;
}

.text-standard-size-28 {
  font-size: 28px;
  line-height: 32px;
}

.text-standard-size-36 {
  font-size: 36px;
  line-height: 46px;
}

// lineheight
.lh-standard {
  line-height: 1.1;
}

.lh12 {
  line-height: 12px;
}

.lh14 {
  line-height: 14px;
}

.lh16 {
  line-height: 16px;
}

.lh-17 {
  line-height: 17px;
}

.lh18 {
  line-height: 18px;
}

.lh20 {
  line-height: 20px;
}

.lh22 {
  line-height: 22px;
}

.lh24 {
  line-height: 24px;
}

.lh25 {
  line-height: 25px;
}

.lh26 {
  line-height: 26px;
}

.lh28 {
  line-height: 28px;
}

.lh30 {
  line-height: 30px;
}

.lh32 {
  line-height: 32px;
}

.lh34 {
  line-height: 34px !important;
}

.lh35 {
  line-height: 35px;
}

.lh36 {
  line-height: 36px;
}

.lh40 {
  line-height: 40px;
}

.lh44 {
  line-height: 44px !important;
}

.lh45 {
  line-height: 45px;
}

.lh48 {
  line-height: 48px;
}

.lh50 {
  line-height: 50px !important;
}

.lh56 {
  line-height: 56px;
}

.lh60 {
  line-height: 60px;
}

.lh64 {
  line-height: 64px;
}

.lh68 {
  line-height: 68px;
}

.lh88 {
  line-height: 88px;
}

//padding
.p0 {
  padding: 0 !important;
}

.p5 {
  padding: 5px;
}

.p10 {
  padding: 10px;
}

.p15 {
  padding: 15px;
}

.p20 {
  padding: 20px;
}

.p24 {
  padding: 24px;
}

.p25 {
  padding: 25px;
}

.p30 {
  padding: 30px;
}

.pt5 {
  padding-top: 5px;
}

.pt7 {
  padding-top: 7px;
}

.pt8 {
  padding-top: 8px;
}

.pt10 {
  padding-top: 10px;
}

.pt12 {
  padding-top: 12px;
}

.pt14 {
  padding-top: 14px;
}

.pt15 {
  padding-top: 15px;
}

.pt16 {
  padding-top: 16px;
}

.pt18 {
  padding-top: 18px;
}

.pt20 {
  padding-top: 20px;
}

.pt24 {
  padding-top: 24px;
}

.pt25 {
  padding-top: 25px;
}

.pt30 {
  padding-top: 30px;
}

.pt32 {
  padding-top: 32px;
}

.pt34 {
  padding-top: 34px;
}

.pt35 {
  padding-top: 35px;
}

.pt36 {
  padding-top: 36px;
}

.pt40 {
  padding-top: 40px;
}

.pt45 {
  padding-top: 45px;
}

.pt48 {
  padding-top: 48px;
}

.pt50 {
  padding-top: 50px;
}

.pt60 {
  padding-top: 60px;
}

.pt70 {
  padding-top: 70px;
}

.pt88 {
  padding-top: 88px;
}

.pb5 {
  padding-bottom: 5px;
}

.pb7 {
  padding-bottom: 7px;
}

.pb10 {
  padding-bottom: 10px;
}

.pb12 {
  padding-bottom: 12px;
}

.pb15 {
  padding-bottom: 15px;
}

.pb16 {
  padding-bottom: 16px;
}

.pb18 {
  padding-bottom: 18px;
}

.pb20 {
  padding-bottom: 20px;
}

.pb24 {
  padding-bottom: 24px;
}

.pb25 {
  padding-bottom: 25px;
}

.pb30 {
  padding-bottom: 30px;
}

.pb32 {
  padding-bottom: 32px;
}

.pb36 {
  padding-bottom: 36px;
}

.pb40 {
  padding-bottom: 40px;
}

.pb48 {
  padding-bottom: 48px;
}

.pb50 {
  padding-bottom: 50px;
}

.pb54 {
  padding-bottom: 54px;
}

.pb80 {
  padding-bottom: 80px;
}

.pb110 {
  padding-bottom: 110px;
}

.pl5 {
  padding-left: 5px;
}

.pl6 {
  padding-left: 6px;
}

.pl7 {
  padding-left: 7px;
}

.pl8 {
  padding-left: 8px;
}

.pl10 {
  padding-left: 10px;
}

.pl12 {
  padding-left: 12px;
}

.pl15 {
  padding-left: 15px;
}

.pl18 {
  padding-left: 18px;
}

.pl20 {
  padding-left: 20px;
}

.pl24 {
  padding-left: 24px;
}

.pl25 {
  padding-left: 25px;
}

.pl30 {
  padding-left: 30px;
}

.pl32 {
  padding-left: 32px;
}

.pl33 {
  padding-left: 33px;
}

.pl35 {
  padding-left: 35px;
}

.pl36 {
  padding-left: 36px;
}

.pl40 {
  padding-left: 40px !important;
}

.pl50 {
  padding-left: 50px;
}

.pl60 {
  padding-left: 60px;
}

.pl66 {
  padding-left: 66px;
}

.pl80 {
  padding-left: 80px;
}

.pl100 {
  padding-left: 100px;
}

.pr4 {
  padding-right: 4px;
}

.pr5 {
  padding-right: 5px;
}

.pr7 {
  padding-right: 7px;
}

.pr8 {
  padding-right: 8px;
}

.pr9 {
  padding-right: 9px;
}

.pr10 {
  padding-right: 10px;
}

.pr15 {
  padding-right: 15px;
}

.pr20 {
  padding-right: 20px;
}

.pr24 {
  padding-right: 24px;
}

.pr25 {
  padding-right: 25px;
}

.pr30 {
  padding-right: 30px;
}

.pr32 {
  padding-right: 32px;
}

.pr35 {
  padding-right: 35px;
}

.pr40 {
  padding-right: 40px;
}

.pr52 {
  padding-right: 52px;
}

.pr80 {
  padding-right: 80px;
}

.ph3 {
  padding-right: 3px;
  padding-left: 3px;
}

.ph5 {
  padding-right: 5px;
  padding-left: 5px;
}

.ph8 {
  padding-right: 8px;
  padding-left: 8px;
}

.ph10 {
  padding-right: 10px;
  padding-left: 10px;
}

.ph15 {
  padding-right: 15px;
  padding-left: 15px;
}

.ph20 {
  padding-right: 20px;
  padding-left: 20px;
}

.ph24 {
  padding-right: 24px;
  padding-left: 24px;
}

.ph25 {
  padding-right: 25px;
  padding-left: 25px;
}

.ph30 {
  padding-right: 30px;
  padding-left: 30px;
}

.ph32 {
  padding-right: 32px;
  padding-left: 32px;
}

.ph35 {
  padding-right: 35px;
  padding-left: 35px;
}

.ph40 {
  padding-right: 40px;
  padding-left: 40px;
}

.ph50 {
  padding-right: 50px;
  padding-left: 50px;
}

.ph70 {
  padding-right: 70px;
  padding-left: 70px;
}

.pv3 {
  padding-top: 3px;
  padding-bottom: 3px;
}

.pv5 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.pv7 {
  padding-top: 7px;
  padding-bottom: 7px;
}

.pv8 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.pv9 {
  padding-top: 9px;
  padding-bottom: 9px;
}

.pv10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.pv11 {
  padding-top: 11px;
  padding-bottom: 11px;
}

.pv12 {
  padding-top: 12px;
  padding-bottom: 12px;
}

.pv13 {
  padding-top: 13px;
  padding-bottom: 13px;
}

.pv14 {
  padding-top: 14px;
  padding-bottom: 14px;
}

.pv15 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.pv16 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.pv17 {
  padding-top: 17px;
  padding-bottom: 17px;
}

.pv18 {
  padding-top: 18px;
  padding-bottom: 18px;
}

.pv20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.pv22 {
  padding-top: 22px;
  padding-bottom: 22px;
}

.pv25 {
  padding-top: 25px;
  padding-bottom: 25px;
}

.pv30 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.pv34 {
  padding-top: 34px;
  padding-bottom: 34px;
}

.pv40 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.pv50 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.pv60 {
  padding-top: 60px;
  padding-bottom: 60px;
}

.pv70 {
  padding-top: 70px;
  padding-bottom: 70px;
}

::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}

.m10 {
  margin: 10px;
}

//margin
.mt2 {
  margin-top: 2px;
}

.mt3 {
  margin-top: 3px;
}

.mt4 {
  margin-top: 4px;
}

.mt5 {
  margin-top: 5px;
}

.mt-5 {
  margin-top: -5px;
}

.mt-4 {
  margin-top: -4px;
}

.mt-3 {
  margin-top: -3px;
}

.mt-2 {
  margin-top: -2px;
}

.mt6 {
  margin-top: 6px;
}

.mt7 {
  margin-top: 7px;
}

.mt8 {
  margin-top: 8px;
}

.mt9 {
  margin-top: 9px;
}

.mt10 {
  margin-top: 10px;
}

.mt11 {
  margin-top: 11px;
}

.mt12 {
  margin-top: 12px;
}

.mt14 {
  margin-top: 14px;
}

.mt15 {
  margin-top: 15px;
}

.mt16 {
  margin-top: 16px !important;
}

.mt19 {
  margin-top: 19px;
}

.mt20 {
  margin-top: 20px;
}

.mt22 {
  margin-top: 22px;
}

.mt24 {
  margin-top: 24px !important;
}

.mt25 {
  margin-top: 25px;
}

.mt26 {
  margin-top: 26px;
}

.mt27 {
  margin-top: 27px;
}

.mt28 {
  margin-top: 28px;
}

.mt30 {
  margin-top: 30px;
}

.mt32 {
  margin-top: 32px;
}

.mt34 {
  margin-top: 34px;
}

.mt35 {
  margin-top: 35px;
}

.mt37 {
  margin-top: 37px;
}

.mt40 {
  margin-top: 40px;
}

.mt41 {
  margin-top: 41px;
}

.mt44 {
  margin-top: 44px;
}

.mt45 {
  margin-top: 45px;
}

.mt48 {
  margin-top: 48px;
}

.mt50 {
  margin-top: 50px;
}

.mt60 {
  margin-top: 60px;
}

.mt70 {
  margin-top: 70px;
}

.mt80 {
  margin-top: 80px;
}

.mt90 {
  margin-top: 90px;
}

.mt96 {
  margin-top: 96px;
}

.mt110 {
  margin-top: 110px;
}

.mt120 {
  margin-top: 120px;
}

.mt160 {
  margin-top: 160px;
}

.mb2 {
  margin-bottom: 2px;
}

.mb3 {
  margin-bottom: 3px;
}

.mb4 {
  margin-bottom: 4px;
}

.mb5 {
  margin-bottom: 5px;
}

.mb6 {
  margin-bottom: 6px;
}

.mb7 {
  margin-bottom: 7px;
}

.mb8 {
  margin-bottom: 8px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb12 {
  margin-bottom: 12px;
}

.mb14 {
  margin-bottom: 14px;
}

.mb15 {
  margin-bottom: 15px;
}

.mb16 {
  margin-bottom: 16px;
}

.mb17 {
  margin-bottom: 17px;
}

.mb19 {
  margin-bottom: 19px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb22 {
  margin-bottom: 22px;
}

.mb25 {
  margin-bottom: 25px;
}

.mb28 {
  margin-bottom: 28px;
}

.mb30 {
  margin-bottom: 30px;
}

.mb32 {
  margin-bottom: 32px;
}

.mb34 {
  margin-bottom: 34px;
}

.mb35 {
  margin-bottom: 35px;
}

.mb40 {
  margin-bottom: 40px;
}

.mb42 {
  margin-bottom: 42px;
}

.mb45 {
  margin-bottom: 45px;
}

.mb50 {
  margin-bottom: 50px;
}

.mb55 {
  margin-bottom: 55px;
}

.mb60 {
  margin-bottom: 60px;
}

.mb100 {
  margin-bottom: 100px;
}

.yui-mb10 {
  margin-bottom: 10px;
}

.mb-5 {
  margin-bottom: -5px;
}

.mb-10 {
  margin-bottom: -10px;
}

.ml-5 {
  margin-left: -5px;
}

.ml-10 {
  margin-left: -10px;
}

.ml2 {
  margin-left: 2px;
}

.ml3 {
  margin-left: 3px;
}

.ml4 {
  margin-left: 4px;
}

.ml5 {
  margin-left: 5px;
}

.ml7 {
  margin-left: 7px;
}

.ml8 {
  margin-left: 8px;
}

.ml10 {
  margin-left: 10px;
}

.ml11 {
  margin-left: 11px;
}

.ml12 {
  margin-left: 12px;
}

.ml15 {
  margin-left: 15px;
}

.ml16 {
  margin-left: 16px;
}

.ml18 {
  margin-left: 18px;
}

.ml20 {
  margin-left: 20px;
}

.ml24 {
  margin-left: 24px;
}

.ml25 {
  margin-left: 25px;
}

.ml30 {
  margin-left: 30px;
}

.ml36 {
  margin-left: 36px;
}

.ml40 {
  margin-left: 40px;
}

.ml45 {
  margin-left: 45px;
}

.ml50 {
  margin-left: 50px;
}

.ml55 {
  margin-left: 55px;
}

.ml65 {
  margin-left: 65px;
}

.ml95 {
  margin-left: 95px;
}

.ml130 {
  margin-left: 130px;
}

.mr2 {
  margin-right: 2px;
}

.mr3 {
  margin-right: 3px;
}

.mr4 {
  margin-right: 4px;
}

.mr5 {
  margin-right: 5px;
}

.mr6 {
  margin-right: 6px;
}

.mr8 {
  margin-right: 8px;
}

.mr10 {
  margin-right: 10px;
}

.mr11 {
  margin-right: 11px;
}

.mr12 {
  margin-right: 12px;
}

.mr13 {
  margin-right: 13px;
}

.mr14 {
  margin-right: 14px;
}

.mr15 {
  margin-right: 15px;
}

.mr-15 {
  margin-right: -15px;
}

.mr20 {
  margin-right: 20px;
}

.mr24 {
  margin-right: 24px;
}

.mr25 {
  margin-right: 25px;
}

.mr30 {
  margin-right: 30px;
}

.mr35 {
  margin-right: 35px;
}

.mr40 {
  margin-right: 40px;
}

.mr45 {
  margin-right: 45px;
}

.mr50 {
  margin-right: 50px;
}

.mr60 {
  margin-right: 60px;
}

.mv1 {
  margin-top: 1px;
  margin-bottom: 1px;
}

.mv3 {
  margin-top: 3px;
  margin-bottom: 3px;
}

.mv5 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.mv10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.mv15 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.mv20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.mv24 {
  margin-top: 24px;
  margin-bottom: 24px;
}

.mv25 {
  margin-top: 25px;
  margin-bottom: 25px;
}

.mv30 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.mh-5 {
  margin-right: -5px;
  margin-left: -5px;
}

.mh5 {
  margin-right: 5px;
  margin-left: 5px;
}

.mh8 {
  margin-right: 8px;
  margin-left: 8px;
}

.mh10 {
  margin-right: 10px;
  margin-left: 10px;
}

.mh15 {
  margin-right: 15px;
  margin-left: 15px;
}

.mh16 {
  margin-right: 16px;
  margin-left: 16px;
}

.mh20 {
  margin-right: 20px;
  margin-left: 20px;
}

.mh25 {
  margin-right: 25px;
  margin-left: 25px;
}

.mh30 {
  margin-right: 30px;
  margin-left: 30px;
}

.mh40 {
  margin-right: 40px;
  margin-left: 40px;
}

// 宽度设置
.w-75 {
  width: 75px;
}

.w-80 {
  width: 80px;
}

.w-85 {
  width: 85px !important;
}

.w-90 {
  width: 90px;
}

.w-98 {
  width: 98px;
}

.w-100 {
  width: 100px;
}

.w-120 {
  width: 120px;
}

.w-170 {
  width: 170px;
}

.w-242 {
  width: 242px;
}

.w-287 {
  width: 287px;
}

.w-300 {
  width: 300px;
}

.w-490 {
  width: 490px !important;
}

.w-495 {
  width: 495px;
}

.w-497 {
  width: 497px !important;
}

.w-520 {
  width: 520px !important;
}

.w-560 {
  width: 560px !important;
}

.w-570 {
  width: 570px !important;
}

.w-580 {
  width: 580px !important;
}

.w-640 {
  width: 640px !important;
}

.w-935 {
  width: 935px;
}

.wp-5 {
  width: 5%;
}

.wp-10 {
  width: 10% !important;
}

.wp-20 {
  width: 20% !important;
}

.wp-30 {
  width: 30% !important;
}

.wp-33 {
  width: 33% !important;
}

.wp-35 {
  width: 35% !important;
}

.wp-40 {
  width: 40% !important;
}

.wp-45 {
  width: 45% !important;
}

.wp-50 {
  width: 50% !important;
}

.wp-60 {
  width: 60% !important;
}

.wp-66 {
  width: 66% !important;
}

.wp-68 {
  width: 68% !important;
}

.wp-70 {
  width: 70% !important;
}

.wp-80 {
  width: 80% !important;
}

.wp-85 {
  width: 85% !important;
}

.wp-90 {
  width: 90% !important;
}

.wp-95 {
  width: 95% !important;
}

.wp-100 {
  width: 100% !important;
}

.w-auto {
  width: auto !important;
}

// 高度设置
.h-22 {
  height: 22px;
}

.h-120 {
  height: 120px;
}

.h-144 {
  height: 144px;
}

.h-287 {
  height: 287px;
}

.hp-100 {
  height: 100%;
}
