.yxt-tab {
  color: #595959 !important;
  font-size: 14px !important;
}

.yxt-tab--active {
  color: #262626 !important;
  font-weight: 600 !important;
  font-size: 14px !important;
}

.yxt-toast__icon {
  font-size: .96rem !important;
}
